{
	"root": true,
	"extends": ["plugin:storybook/recommended"],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"project": "./tsconfig.json",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"overrides": [
		{
			"files": ["*.stories.@(ts|tsx|js|jsx|mjs|cjs)"],
			"rules": {}
		}
	]
}
